@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  @apply bg-rc-mist text-rc-ink font-sans antialiased;
}

#root {
  min-height: 100vh;
}
